@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: transparent;
}

.visible {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.hidden {
  display: none;
}

.content {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.left {
  display: flex;
  align-items: end;
  gap: 1rem;
}

.text-container {
  color: #fff;
}

.text-container h1 {
  font-size: 3rem;
  font-weight: 900;
}

.text-container p {
  font-size: 2rem;
  font-weight: 300;
}

.right #banner {
  height: 12rem;
}
